# PROCESSING COLUMN DATA

### Starting spark context

In [1]:
import org.apache.spark.sql.SparkSession

In [2]:
val spark = SparkSession.
    builder.
    config("spark.ui.port", "2828").
    appName("Data Processing - Overview").
    master("yarn").
    getOrCreate

spark = org.apache.spark.sql.SparkSession@46161c97

org.apache.spark.sql.SparkSession@46161c97

In [5]:
spark

org.apache.spark.sql.SparkSession@46161c97

In [4]:
import spark.implicits._

### Creating dummy data frame

In [8]:
val l = List("x")

l = List(x)

List(x)

In [18]:
val df = l.toDF("dummy")

df = [dummy: string]

[dummy: string]

In [12]:
df.printSchema

root
 |-- dummy: string (nullable = true)

In [13]:
df.show

+-----+
|dummy|
+-----+
|    x|
+-----+

### Get the system DATE

In [24]:
import org.apache.spark.sql.functions.current_date

In [20]:
df.select(current_date).
    show

+--------------+
|current_date()|
+--------------+
|    2020-05-19|
+--------------+

In [21]:
df.select(current_date.alias("current_date")).
    show

+------------+
|current_date|
+------------+
|  2020-05-19|
+------------+

In [22]:
val employees = List((1, "Scott", "Tiger", 1000.0, "united states","+1 123 456 7890", "123 456 7890"),
                     (2, "Henry", "Ford", 1250.0, "India","+1 000 999 7890", "000 999 7890"),
                     (3, "Nick", "Junior", 750.0, "united KINGDOM","+1 555 999 7890", "666 888 7890"),
                     (4, "Bill", "Gomes", 1500.0, "AUSTRALIA","+1 234 900 7890", "234 900 7890")
                    )

employees = List((1,Scott,Tiger,1000.0,united states,+1 123 456 7890,123 456 7890), (2,Henry,Ford,1250.0,India,+1 000 999 7890,000 999 7890), (3,Nick,Junior,750.0,united KINGDOM,+1 555 999 7890,666 888 7890), (4,Bill,Gomes,1500.0,AUSTRALIA,+1 234 900 7890,234 900 7890))

List((1,Scott,Tiger,1000.0,united states,+1 123 456 7890,123 456 7890), (2,Henry,Ford,1250.0,India,+1 000 999 7890,000 999 7890), (3,Nick,Junior,750.0,united KINGDOM,+1 555 999 7890,666 888 7890), (4,Bill,Gomes,1500.0,AUSTRALIA,+1 234 900 7890,234 900 7890))

In [57]:
val employeesDF = employees.
    toDF("employee_id", "first_name","last_name", "salary", "nationality","phone no","ssn")

employeesDF = [employee_id: int, first_name: string ... 5 more fields]

[employee_id: int, first_name: string ... 5 more fields]

In [29]:
emplyeesDF.printSchema

root
 |-- emplyee_id: integer (nullable = false)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: double (nullable = false)
 |-- nationality: string (nullable = true)
 |-- phone no: string (nullable = true)
 |-- ssn: string (nullable = true)

In [31]:
employeesDF.show(false)

+----------+----------+---------+------+--------------+---------------+------------+
|emplyee_id|first_name|last_name|salary|nationality   |phone no       |ssn         |
+----------+----------+---------+------+--------------+---------------+------------+
|1         |Scott     |Tiger    |1000.0|united states |+1 123 456 7890|123 456 7890|
|2         |Henry     |Ford     |1250.0|India         |+1 000 999 7890|000 999 7890|
|3         |Nick      |Junior   |750.0 |united KINGDOM|+1 555 999 7890|666 888 7890|
|4         |Bill      |Gomes    |1500.0|AUSTRALIA     |+1 234 900 7890|234 900 7890|
+----------+----------+---------+------+--------------+---------------+------------+

## Categories of functions

There are approximately 300 functions under org.apache.spark.sql.function. 
At higher level they can be grouped into a few categoroes.

1) String manipulation functions:
- case conversion - `lower` , `upper`
- Getting Length - `length'
- Extracting substring - `substring`, `split`
- Trimming - `trim`, `ltrim`, `rtrim`
- Padding - `lpad`, `rpad`

2) Data Manipulation functions:
- Getting current date and time - `current_date`, `current_timestammp`
- Data Arithmetic - `date_add`, `date_sub`, `datediff`, `months_between`, `add_months`,`next_day`
- Begining and Ending Date or Time - `Last_day`, `trunc`,`date_trunc`
- Formatting Date - `date_format`
- Extracting Information - `dayofyear`,`dayofmonth`, `dayofweek`,`year`,`month`

3) Aggregation functions:
- `count`,`countDistinct`
- `sum`, `avg`

4) Special function
- `col`,`lit`

## Special Function - col and lit

- create Data Frame for demo purpose

In [60]:
val employees = List((1, "Scott", "Tiger", 1000.0, "united states","+1 123 456 7890", "123 456 7890"),
                     (2, "Henry", "Ford", 1250.0, "India","+1 000 999 7890", "000 999 7890"),
                     (3, "Nick", "Junior", 750.0, "united KINGDOM","+1 555 999 7890", "666 888 7890"),
                     (4, "Bill", "Gomes", 1500.0, "AUSTRALIA","+1 234 900 7890", "234 900 7890")
                    )

employees = List((1,Scott,Tiger,1000.0,united states,+1 123 456 7890,123 456 7890), (2,Henry,Ford,1250.0,India,+1 000 999 7890,000 999 7890), (3,Nick,Junior,750.0,united KINGDOM,+1 555 999 7890,666 888 7890), (4,Bill,Gomes,1500.0,AUSTRALIA,+1 234 900 7890,234 900 7890))

List((1,Scott,Tiger,1000.0,united states,+1 123 456 7890,123 456 7890), (2,Henry,Ford,1250.0,India,+1 000 999 7890,000 999 7890), (3,Nick,Junior,750.0,united KINGDOM,+1 555 999 7890,666 888 7890), (4,Bill,Gomes,1500.0,AUSTRALIA,+1 234 900 7890,234 900 7890))

In [58]:
val employeesDF = employees.
     toDF("employee_id", "first_name","last_name", "salary", "nationality","phone no","ssn")

employeesDF = [employee_id: int, first_name: string ... 5 more fields]

[employee_id: int, first_name: string ... 5 more fields]

In [61]:
employeesDF.printSchema

root
 |-- employee_id: integer (nullable = false)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: double (nullable = false)
 |-- nationality: string (nullable = true)
 |-- phone no: string (nullable = true)
 |-- ssn: string (nullable = true)

In [ ]:
employeesDF.show(true)

- For Data Frame API such as `select`,`groupBy`,`orderBy` etc we can pass column names as string

In [18]:
// to use perators such as $ in place of functions like col
import spark.implicits._

Name: Compile Error
Message: <console>:29: error: stable identifier required, but this.$line7$read.spark.implicits found.
       import spark.implicits._
                    ^

StackTrace:

In [19]:
employeesDF.
    select($"first_name", $"last_name").
    show(false)

+----------+---------+
|first_name|last_name|
+----------+---------+
|Scott     |Tiger    |
|Henry     |Ford     |
|Nick      |Junior   |
|Bill      |Gomes    |
+----------+---------+

In [20]:
// Alternative using col function 
// $ is a shorthand operator for col from implicits
import org.apache.spark.sql.functions.col

In [21]:
employeesDF.
    select(col("first_name"), col("last_name")).
    show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|     Scott|    Tiger|
|     Henry|     Ford|
|      Nick|   Junior|
|      Bill|    Gomes|
+----------+---------+

In [22]:
// Alterative passing by column names as string
// As long we donot need to invoke any function
employeesDF.
    select("first_name", "last_name").
    show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|     Scott|    Tiger|
|     Henry|     Ford|
|      Nick|   Junior|
|      Bill|    Gomes|
+----------+---------+

- Even if you want to apply fucntion for any one column. all the columns should be of col type not string type

In [23]:
employeesDF.
    select("first_name",$"last_name").
    show()

Name: Compile Error
Message: <console>:33: error: overloaded method value select with alternatives:
  [U1, U2](c1: org.apache.spark.sql.TypedColumn[org.apache.spark.sql.Row,U1], c2: org.apache.spark.sql.TypedColumn[org.apache.spark.sql.Row,U2])org.apache.spark.sql.Dataset[(U1, U2)] <and>
  (col: String,cols: String*)org.apache.spark.sql.DataFrame <and>
  (cols: org.apache.spark.sql.Column*)org.apache.spark.sql.DataFrame
 cannot be applied to (String, org.apache.spark.sql.ColumnName)
           select("first_name",$"last_name").
           ^

StackTrace:

In [12]:
employeesDF.
    select($"first_name", $"last_name").
    show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|     Scott|    Tiger|
|     Henry|     Ford|
|      Nick|   Junior|
|      Bill|    Gomes|
+----------+---------+

-  If there are no transformations on any column in any function then we should be able to pass all column names as strings.
-  If not we need to pass all column names as type column by using col fucntion or its shorthand operator $.

- Passing column as part of groupBy
** PROBLEM STATEMENT: Get the count of the employees per nation

In [13]:
employeesDF.
    groupBy("nationality").
    count.
    show(false)

+--------------+-----+
|nationality   |count|
+--------------+-----+
|India         |1    |
|united KINGDOM|1    |
|united states |1    |
|AUSTRALIA     |1    |
+--------------+-----+

- Upper case

In [53]:
import org.apache.spark.sql.functions.upper

In [80]:
employeesDF.
    groupBy(upper($"nationality")).
    count.
    show

+------------------+-----+
|upper(nationality)|count|
+------------------+-----+
|    UNITED KINGDOM|    1|
|             INDIA|    1|
|         AUSTRALIA|    1|
|     UNITED STATES|    1|
+------------------+-----+

- passing columns as a part of orderBy or sort

In [2]:
spark.sql("DESCRIBE FUNCTION concat").show(false)

+------------------------------------------------------------------------------------------+
|function_desc                                                                             |
+------------------------------------------------------------------------------------------+
|Function: concat                                                                          |
|Class: org.apache.spark.sql.catalyst.expressions.Concat                                   |
|Usage: concat(str1, str2, ..., strN) - Returns the concatenation of str1, str2, ..., strN.|
+------------------------------------------------------------------------------------------+

In [ ]:
spark.sql("SHOW FUNCTIONS").show(300,false)

In [18]:
employeesDF.
    orderBy(upper($"nationality")).
    show(false)

+-----------+----------+---------+------+--------------+---------------+------------+
|employee_id|first_name|last_name|salary|nationality   |phone no       |ssn         |
+-----------+----------+---------+------+--------------+---------------+------------+
|4          |Bill      |Gomes    |1500.0|AUSTRALIA     |+1 234 900 7890|234 900 7890|
|2          |Henry     |Ford     |1250.0|India         |+1 000 999 7890|000 999 7890|
|3          |Nick      |Junior   |750.0 |united KINGDOM|+1 555 999 7890|666 888 7890|
|1          |Scott     |Tiger    |1000.0|united states |+1 123 456 7890|123 456 7890|
+-----------+----------+---------+------+--------------+---------------+------------+

In [19]:
// Alternative - we can also refer column names using Data Frames like this

employeesDF.
    orderBy(upper(employeesDF("nationality"))).
    show(false)

+-----------+----------+---------+------+--------------+---------------+------------+
|employee_id|first_name|last_name|salary|nationality   |phone no       |ssn         |
+-----------+----------+---------+------+--------------+---------------+------------+
|4          |Bill      |Gomes    |1500.0|AUSTRALIA     |+1 234 900 7890|234 900 7890|
|2          |Henry     |Ford     |1250.0|India         |+1 000 999 7890|000 999 7890|
|3          |Nick      |Junior   |750.0 |united KINGDOM|+1 555 999 7890|666 888 7890|
|1          |Scott     |Tiger    |1000.0|united states |+1 123 456 7890|123 456 7890|
+-----------+----------+---------+------+--------------+---------------+------------+

# lit

- Smetimes, we want to add a literal to the column values. 
  -  for eaxmple - we might want to concatenate first_name and last_name with seperated by comma and space in between.

In [52]:
import org.apache.spark.sql.functions.concat

In [65]:
employeesDF.
    select(concat($"first_name",", ", $"last_name")).
    show

Name: Unknown Error
Message: <console>:47: error: type mismatch;
 found   : String(", ")
 required: org.apache.spark.sql.Column
           select(concat($"first_name",", ", $"last_name")).
                                       ^

StackTrace:

- Above code fails because we are passing string ',' which is treating as column here
- All the 3 fields should be column type
- However, ',' is a literal here and we have to use lit function to convert literal value to column type

In [51]:
import org.apache.spark.sql.functions.{concat, lit}

In [41]:
employeesDF.
    select(concat($"first_name", lit(","), $"last_name")).
    show

+--------------------------------+
|concat(first_name, ,, last_name)|
+--------------------------------+
|                     Scott,Tiger|
|                      Henry,Ford|
|                     Nick,Junior|
|                      Bill,Gomes|
+--------------------------------+

In [42]:
employeesDF.
    select(concat($"first_name", lit(","), $"last_name").alias("full_name")).
    show

+-----------+
|  full_name|
+-----------+
|Scott,Tiger|
| Henry,Ford|
|Nick,Junior|
| Bill,Gomes|
+-----------+

## String manipulation - Case conversion and Length

 - Convert all the alphabetic characters is a string to uppercase - `upper`
 - Convert all the alphabetic characters is a string to lowercase - `lower`
 - Convert first character in a string to uppercase - `initcap`
 - Get the number of characters in a string - `length`

In [75]:
import org.apache.spark.sql.functions.{upper, col, length, lower, initcap}

In [77]:
employeesDF.
    select("employee_id","nationality").
    withColumn("nationality_upper", upper($"nationality")).
    withColumn("nationality_lower", lower($"nationality")).
    withColumn("nationality_initcap", initcap($"nationality")).
    withColumn("nationality_initcap", length($"nationality")).
    show(false)

+-----------+--------------+-----------------+-----------------+-------------------+
|employee_id|nationality   |nationality_upper|nationality_lower|nationality_initcap|
+-----------+--------------+-----------------+-----------------+-------------------+
|1          |united states |UNITED STATES    |united states    |13                 |
|2          |India         |INDIA            |india            |5                  |
|3          |united KINGDOM|UNITED KINGDOM   |united kingdom   |14                 |
|4          |AUSTRALIA     |AUSTRALIA        |australia        |9                  |
+-----------+--------------+-----------------+-----------------+-------------------+

## String Manipulation - substring

Let us understand `substring` function
- If we are processing <b>fixed length columns</b> then we use 'substring' to extract information
- Example : extract last 4 digits from SSN
- `substring` function takes 3 arguments, <b>column, position, length</b>. We can also provide position from the end by passing negative vaalue.

In [79]:
val s = "Hello World"

s = Hello World

Hello

In [82]:
s.substring(0, 5)

Hello

In [81]:
s.substring(1, 4)

ell

In [88]:
val l = List("x")

l = List(x)

List(x)

In [91]:
val df = l.toDF("dummy_col")

df = [dummy_col: string]

[dummy_col: string]

In [92]:
df.printSchema

root
 |-- dummy_col: string (nullable = true)

In [93]:
df.show

+---------+
|dummy_col|
+---------+
|        x|
+---------+

In [96]:
import org.apache.spark.sql.functions.substring

In [103]:
df.
    select(substring(lit("Hello World"), 7, 5)).
    show

+----------------------------+
|substring(Hello World, 7, 5)|
+----------------------------+
|                       World|
+----------------------------+

In [104]:
df.
    select(substring(lit("Hello World"), -5, 5)).
    show

+-----------------------------+
|substring(Hello World, -5, 5)|
+-----------------------------+
|                        World|
+-----------------------------+

## Examples :

- Create a list of employees with name, ssn and phone number
- SSN format should be 3 2 4 - fixed length with 9 digits
- Phone number format : Country code is variable and remaining phone number have 10 digits :
-- Country code - 1 - 3 digits
-- phone number prefix - 3 digits
-- phone number remaining - 4 digits
-- all the 4 parts are seperated by spaces
- create Dataframe with column names, ssn and phone_number
- Extract last 4 digits from phone number
- Extract last 4 digits from SSN

In [6]:
val employees = List((1, "Scott", "Tiger", 1000.0, "united states","+11 23456 7890", "1234567890"),
                     (2, "Henry", "Ford", 1250.0, "India","+10 00999 7890", "0009997890"),
                     (3, "Nick", "Junior", 750.0, "united KINGDOM","+15 55999 7890", "6668887890"),
                     (4, "Bill", "Gomes", 1500.0, "AUSTRALIA","+12 34900 7890", "2349007890")
                    )

employees = List((1,Scott,Tiger,1000.0,united states,+11 23456 7890,1234567890), (2,Henry,Ford,1250.0,India,+10 00999 7890,0009997890), (3,Nick,Junior,750.0,united KINGDOM,+15 55999 7890,6668887890), (4,Bill,Gomes,1500.0,AUSTRALIA,+12 34900 7890,2349007890))

List((1,Scott,Tiger,1000.0,united states,+11 23456 7890,1234567890), (2,Henry,Ford,1250.0,India,+10 00999 7890,0009997890), (3,Nick,Junior,750.0,united KINGDOM,+15 55999 7890,6668887890), (4,Bill,Gomes,1500.0,AUSTRALIA,+12 34900 7890,2349007890))

In [13]:
val employeesDF = employees.
    toDF("employee_id", "first_name","last_name", "salary", "nationality","phone_no","ssn")

employeesDF = [employee_id: int, first_name: string ... 5 more fields]

[employee_id: int, first_name: string ... 5 more fields]

In [12]:
employeesDF.
    select("employee_id", "phone_no","ssn").
    show

+-----------+--------------+----------+
|employee_id|      phone_no|       ssn|
+-----------+--------------+----------+
|          1|+11 23456 7890|1234567890|
|          2|+10 00999 7890|0009997890|
|          3|+15 55999 7890|6668887890|
|          4|+12 34900 7890|2349007890|
+-----------+--------------+----------+

In [10]:
import org.apache.spark.sql.functions.substring

In [14]:
import spark.implicits._

In [15]:
employeesDF.
    select("employee_id", "phone_no","ssn").
    withColumn("phone_last4", substring($"phone_no", -4, 4).cast("int")).
    withColumn("phone_prefix", substring($"phone_no", 1, 3)).
    withColumn("phone_remaining4", substring($"phone_no", -4, 4)).
    withColumn("ssn_last4", substring($"ssn", -4, 4).cast("int")).
    show

+-----------+--------------+----------+-----------+------------+----------------+---------+
|employee_id|      phone_no|       ssn|phone_last4|phone_prefix|phone_remaining4|ssn_last4|
+-----------+--------------+----------+-----------+------------+----------------+---------+
|          1|+11 23456 7890|1234567890|       7890|         +11|            7890|     7890|
|          2|+10 00999 7890|0009997890|       7890|         +10|            7890|     7890|
|          3|+15 55999 7890|6668887890|       7890|         +15|            7890|     7890|
|          4|+12 34900 7890|2349007890|       7890|         +12|            7890|     7890|
+-----------+--------------+----------+-----------+------------+----------------+---------+

In [16]:
// Another way to do above tasks
employeesDF.
    select($"employee_id", $"phone_no", $"ssn",
            substring($"phone_no",-4,4).cast("int").alias("phone_last4"),
            substring($"phone_no",1,3).cast("int").alias("phone_prefix"),
            substring($"phone_no", -4, 4).cast("int").alias("phone_remaining4"),
            substring($"ssn", -4, 4).cast("int").alias("ssn_last4")
          ).
    show

+-----------+--------------+----------+-----------+------------+----------------+---------+
|employee_id|      phone_no|       ssn|phone_last4|phone_prefix|phone_remaining4|ssn_last4|
+-----------+--------------+----------+-----------+------------+----------------+---------+
|          1|+11 23456 7890|1234567890|       7890|          11|            7890|     7890|
|          2|+10 00999 7890|0009997890|       7890|          10|            7890|     7890|
|          3|+15 55999 7890|6668887890|       7890|          15|            7890|     7890|
|          4|+12 34900 7890|2349007890|       7890|          12|            7890|     7890|
+-----------+--------------+----------+-----------+------------+----------------+---------+

## String Manipulation - split

Let us understand how we can extract substring using `split`

- If we are processing <b>variable length columns</b> with <b>delimiter</b> the we can use `split` to extract the information
- Here are some of the examples for variable length columns and the use cases for which we typically extract information.
 - Address where we store House Number, Street Name and City, state and Zip code comma seperated. We might want to extract city and state for demographic reports.
- `split` takes 2 arguments, **column** and **delimiter**
- `split` converts each string into array and we can access elements using index.

In [32]:
val l = List("x")

l = List(x)

List(x)

In [33]:
val df = l.toDF("dummy")

df = [dummy: string]

[dummy: string]

In [6]:
import org.apache.spark.sql.functions.{split,lit}

In [36]:
df.select(split(lit("Hello world, how are you"), " ")).
   show(false)

+----------------------------------+
|split(Hello world, how are you,  )|
+----------------------------------+
|[Hello, world,, how, are, you]    |
+----------------------------------+

In [38]:
df.select(split(lit("Hello world, how are you"), " ")(2)).
   show(false)

+-------------------------------------+
|split(Hello world, how are you,  )[2]|
+-------------------------------------+
|how                                  |
+-------------------------------------+

In [13]:
// using withColumn way
employeesDF.
        select("employee_id", "phone_no","ssn").
        withColumn("phone_last4", split($"phone_no", " ")(2).cast("int")).
        show(false)

+-----------+--------------+----------+-----------+
|employee_id|phone_no      |ssn       |phone_last4|
+-----------+--------------+----------+-----------+
|1          |+11 23456 7890|1234567890|7890       |
|2          |+10 00999 7890|0009997890|7890       |
|3          |+15 55999 7890|6668887890|7890       |
|4          |+12 34900 7890|2349007890|7890       |
+-----------+--------------+----------+-----------+

In [15]:
// with select way
employeesDF.
    select($"employee_id", $"phone_no", $"ssn",
            split($"phone_no", " ")(2).cast("int").alias("phone_last4")).
    show(false)

+-----------+--------------+----------+-----------+
|employee_id|phone_no      |ssn       |phone_last4|
+-----------+--------------+----------+-----------+
|1          |+11 23456 7890|1234567890|7890       |
|2          |+10 00999 7890|0009997890|7890       |
|3          |+15 55999 7890|6668887890|7890       |
|4          |+12 34900 7890|2349007890|7890       |
+-----------+--------------+----------+-----------+

## String Manipulation - Cancatenation of String

Let us understand how to concatenate strings using `concat` function

 - We can pass the variable number of strings to `concat` function
 - It will return one string concatenating all strings
 - If we have to concatenate literal in between the strings we have to use `lit` function

In [18]:
import org.apache.spark.sql.functions.concat

In [20]:
employeesDF.
    withColumn("full_name", concat($"first_name", $"last_name")).
    show

+-----------+----------+---------+------+--------------+--------------+----------+----------+
|employee_id|first_name|last_name|salary|   nationality|      phone_no|       ssn| full_name|
+-----------+----------+---------+------+--------------+--------------+----------+----------+
|          1|     Scott|    Tiger|1000.0| united states|+11 23456 7890|1234567890|ScottTiger|
|          2|     Henry|     Ford|1250.0|         India|+10 00999 7890|0009997890| HenryFord|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+15 55999 7890|6668887890|NickJunior|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+12 34900 7890|2349007890| BillGomes|
+-----------+----------+---------+------+--------------+--------------+----------+----------+

In [22]:
import org.apache.spark.sql.functions.{concat,lit}

In [24]:
employeesDF.
    withColumn("full_name", concat($"first_name", lit(" "), $"last_name")).
    show(false)

+-----------+----------+---------+------+--------------+--------------+----------+-----------+
|employee_id|first_name|last_name|salary|nationality   |phone_no      |ssn       |full_name  |
+-----------+----------+---------+------+--------------+--------------+----------+-----------+
|1          |Scott     |Tiger    |1000.0|united states |+11 23456 7890|1234567890|Scott Tiger|
|2          |Henry     |Ford     |1250.0|India         |+10 00999 7890|0009997890|Henry Ford |
|3          |Nick      |Junior   |750.0 |united KINGDOM|+15 55999 7890|6668887890|Nick Junior|
|4          |Bill      |Gomes    |1500.0|AUSTRALIA     |+12 34900 7890|2349007890|Bill Gomes |
+-----------+----------+---------+------+--------------+--------------+----------+-----------+

lastException: Throwable = null

## String Manipulation - Padding

- Typically we pad characters to build fixed length value or recoreds
- Fixed length values or records are extensively used in a mainframes based system
- Length of each and every field in fixed length records is determined and if the value of the field is less than predetemined length then we pad with a standard character
- In terms of numeric fields we pad with zero on leading or left side. For non numeric fields, we pad with some standard character on trailing or right side.
- We use `lpad` to pad a string with a specific character on leading or left side and `rpad` to pad on trailing or right side.
- Both lpad and rpad takes 3 arguments - column or expression, desired length and the character need to be paded.

## Examples:

In [26]:
val l = List("x")

l = List(x)

List(x)

In [27]:
val df = l.toDF("dummy")

df = [dummy: string]

[dummy: string]

In [28]:
import org.apache.spark.sql.functions.{lit, lpad}

In [30]:
df.select(lpad(lit("Hello"), 10, "-").alias("dummy")).show(false)

+----------+
|dummy     |
+----------+
|-----Hello|
+----------+

In [33]:
df.select(lpad(lit(100), 2, "0").alias("dummy")).show(false)

+-----+
|dummy|
+-----+
|10   |
+-----+

In [36]:
employeesDF.show(2)

+-----------+----------+---------+------+-------------+--------------+----------+
|employee_id|first_name|last_name|salary|  nationality|      phone_no|       ssn|
+-----------+----------+---------+------+-------------+--------------+----------+
|          1|     Scott|    Tiger|1000.0|united states|+11 23456 7890|1234567890|
|          2|     Henry|     Ford|1250.0|        India|+10 00999 7890|0009997890|
+-----------+----------+---------+------+-------------+--------------+----------+
only showing top 2 rows

### Tasks 
- Use `pad` function to convert each of the field into fixed length and concatenate.
 - Length of the employee_id should be 5 characters and should be padded with zero.
 - Length of first_name and last_name should be 10 characters and should be padded with - on right side
 - Length of salary should be 10 characters and should be padded with zero.
 - Length of nationality should be 15 characters and should be padded with - on right side
 - Length of phone_number should be 17 characters and should be padded with - on right side.
 - Length of ssn can be left as is. it is 17 characters

In [39]:
import org.apache.spark.sql.functions.{lpad, rpad, concat}

In [53]:
val empFixedDF = employeesDF.
                select(
                 concat(
                     lpad($"employee_id", 5, "0"),
                     rpad($"first_name", 10, "-"),
                     rpad($"last_name", 10, "-"), 
                     lpad($"salary", 10, "0"),
                     lpad($"nationality", 15, "-"),
                     lpad($"phone_no", 17, "-")
                 ).alias("employee")
                 )

empFixedDF = [employee: string]

lastException: Throwable = null

[employee: string]

In [54]:
empFixedDF.show(false)

+-------------------------------------------------------------------+
|employee                                                           |
+-------------------------------------------------------------------+
|00001Scott-----Tiger-----00001000.0--united states---+11 23456 7890|
|00002Henry-----Ford------00001250.0----------India---+10 00999 7890|
|00003Nick------Junior----00000750.0-united KINGDOM---+15 55999 7890|
|00004Bill------Gomes-----00001500.0------AUSTRALIA---+12 34900 7890|
+-------------------------------------------------------------------+

## String Manipulation - Triming

 - Let us understand how to trim unwanted and trailing characters around a string
  - We typically use trimmimg to remove unnecessary character from fixed length records.
  - Fixed length records are extensively used in Mainframes and we might have to process it using spark.
  - As part of processing we might want to remove leading or trailing characters such as 0 in case of numeric types and spaces or some satndard charcter in case of alphanumeric types.
  - As of now spark function takes the column as argument and remove leading or trailing spaces
  - Trim spaces towards left - `ltrim`
  - Trim spaces towards right - `rtrim`
  - Trim spaces towards sides - `trim`

In [57]:
import org.apache.spark.sql.functions.{rtrim, trim, ltrim}

In [69]:
val l = List("    Hello.    ")

l = List("    Hello.    ")

List("    Hello.    ")

In [70]:
val df = l.toDF("dummy")

df = [dummy: string]

[dummy: string]

In [78]:
 df.withColumn("ltrim", ltrim($"dummy")).
    withColumn("rtrim", rtrim(rtrim($"dummy"),".")).
    withColumn("trim", trim(trim($"dummy"),".")).
    show

+--------------+----------+---------+-----+
|         dummy|     ltrim|    rtrim| trim|
+--------------+----------+---------+-----+
|    Hello.    |Hello.    |    Hello|Hello|
+--------------+----------+---------+-----+

## Date and Time - Overview

- Let us overview about Date and Time using available functions.
 - We ca use `current_date` to get today's server date.
  - Date will be returned uding **yyyy-MM-dd** format.
  - We can use `current_timestamp` to get current server time.
  - Timestamp will be returned using **yyyy-MM-dd HH:mm:ss.SSS** format
  - Hours will be by default 24 hour format

val l = List("x")

In [5]:
val df = l.toDF("dummy")

df = [dummy: string]

[dummy: string]

In [6]:
import org.apache.spark.sql.functions.{current_date, current_timestamp}

In [7]:
df.select(current_date).show

+--------------+
|current_date()|
+--------------+
|    2020-05-23|
+--------------+

In [9]:
df.select(current_timestamp).show(false)

+-----------------------+
|current_timestamp()    |
+-----------------------+
|2020-05-23 15:52:12.744|
+-----------------------+

## Date and Time - Arithmetic

Let us perform Date and Time Arithmetic using relevant functions.
 
- Adding days to a date or timestamp - `date_add`
- Substracting days from a date or timestamp - `date_sub`
- Getting difference between 2 dates or timestamp - `datediff`
- Gwtting number of moths between 2 dates or timestamps - `months_between`
- Adding months to a date or timestamp - `add_months`
- Getting next day from given date - `next_day`
- All the functions are self explainatory. We can apply these on standard date or timestamp. All the functions return date even when applied on timestamp.

## Tasks

In [4]:
val datetimes= List(("2014-02-28", "2014-02-28 10:00:00.123"),
           ("2016-02-29", "2016-02-29 08:08:08.999"),
           ("2017-10-31", "2017-12-31 11:59:59.123"),
           ("2019-11-30", "2019-08-31 00:00:00.000")
          )

datetimes = List((2014-02-28,2014-02-28 10:00:00.123), (2016-02-29,2016-02-29 08:08:08.999), (2017-10-31,2017-12-31 11:59:59.123), (2019-11-30,2019-08-31 00:00:00.000))

List((2014-02-28,2014-02-28 10:00:00.123), (2016-02-29,2016-02-29 08:08:08.999), (2017-10-31,2017-12-31 11:59:59.123), (2019-11-30,2019-08-31 00:00:00.000))

In [5]:
val datetimesDF = datetimes.toDF("date", "time")

datetimesDF = [date: string, time: string]

[date: string, time: string]

In [20]:
datetimesDF.show(false)

+----------+-----------------------+
|date      |time                   |
+----------+-----------------------+
|2014-02-28|2014-02-28 10:00:00.123|
|2016-02-29|2016-02-29 08:08:08.999|
|2017-10-31|2017-12-31 11:59:59.123|
|2019-11-30|2019-08-31 00:00:00.000|
+----------+-----------------------+

In [7]:
datetimesDF.printSchema

root
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)

- Add 10 days to both date and time values
- Substract 10 days from both date and time values
- Get the difference between current_date and date values as well as current_timestamp abd time values.
- Get the nnumber of months between current_date and date values as well as current_timestamp and time values
- Add 3 onths to both date values as well as time values

In [8]:
import org.apache.spark.sql.functions.{date_add, date_sub}

In [9]:
datetimesDF.
    select("date","time").
    withColumn("date10", date_add($"date", 10)).
    withColumn("time10", date_add($"time",10)).
    withColumn("subDate10", date_sub($"date",10)).
    withColumn("subTime10", date_sub($"time",10)).
    show(false)

+----------+-----------------------+----------+----------+----------+----------+
|date      |time                   |date10    |time10    |subDate10 |subTime10 |
+----------+-----------------------+----------+----------+----------+----------+
|2014-02-28|2014-02-28 10:00:00.123|2014-03-10|2014-03-10|2014-02-18|2014-02-18|
|2016-02-29|2016-02-29 08:08:08.999|2016-03-10|2016-03-10|2016-02-19|2016-02-19|
|2017-10-31|2017-12-31 11:59:59.123|2017-11-10|2018-01-10|2017-10-21|2017-12-21|
|2019-11-30|2019-08-31 00:00:00.000|2019-12-10|2019-09-10|2019-11-20|2019-08-21|
+----------+-----------------------+----------+----------+----------+----------+

In [11]:
import org.apache.spark.sql.functions.{current_date, current_timestamp, datediff}

In [12]:
datetimesDF.
    withColumn("datediff_date", datediff(current_date, $"date")).
    withColumn("datediff_time", datediff(current_timestamp, $"time")).
    show(false)

+----------+-----------------------+-------------+-------------+
|date      |time                   |datediff_date|datediff_time|
+----------+-----------------------+-------------+-------------+
|2014-02-28|2014-02-28 10:00:00.123|2279         |2279         |
|2016-02-29|2016-02-29 08:08:08.999|1548         |1548         |
|2017-10-31|2017-12-31 11:59:59.123|938          |877          |
|2019-11-30|2019-08-31 00:00:00.000|178          |269          |
+----------+-----------------------+-------------+-------------+

In [13]:
import org.apache.spark.sql.functions.{months_between, add_months, round}

In [15]:
datetimesDF.
    withColumn("datediff_date", round(months_between(current_date, $"date"), 2)).
    withColumn("months_between_time", round(months_between(current_timestamp, $"time"), 2)).
    withColumn("add_months_date", add_months($"date",3)).
    withColumn("add_time_date", add_months($"time",3)).
    show(false)

+----------+-----------------------+-------------+-------------------+---------------+-------------+
|date      |time                   |datediff_date|months_between_time|add_months_date|add_time_date|
+----------+-----------------------+-------------+-------------------+---------------+-------------+
|2014-02-28|2014-02-28 10:00:00.123|74.94        |74.94              |2014-05-31     |2014-05-31   |
|2016-02-29|2016-02-29 08:08:08.999|50.9         |50.91              |2016-05-31     |2016-05-31   |
|2017-10-31|2017-12-31 11:59:59.123|30.84        |28.84              |2018-01-31     |2018-03-31   |
|2019-11-30|2019-08-31 00:00:00.000|5.87         |8.86               |2020-02-29     |2019-11-30   |
+----------+-----------------------+-------------+-------------------+---------------+-------------+

## Date and Time - trunc and date_trunc

In Data Warehousing we quite often run to date reports such as week to date, month to date, year to date etc

- We can use `trunc` or `date_trunc` for the same to get the beginnig date of the week, month, current_year etc by passing date or timestamp to it.
- We can use `trunc` to get the beginning date of the month or year by passing date or timestamp to it 
 - for example: `trunc(current_date(), "MM")` will give the first of the current month.
- We can use `date_trunc` to get the beginning date of the month or year as well as beginning time of the day or hour by passing timestamp to it.
 - Get beginning date based on month - `date_trunc("MM", current_timestamp())`
 - Get beginning based on day - `date_trunc("DAY", cutrent_timestmap())`

## Tasks

In [5]:
val datetimes= List(("2014-02-28", "2014-02-28 10:00:00.123"),
           ("2016-02-29", "2016-02-29 08:08:08.999"),
           ("2017-10-31", "2017-12-31 11:59:59.123"),
           ("2019-11-30", "2019-08-31 00:00:00.000")
          )

datetimes = List((2014-02-28,2014-02-28 10:00:00.123), (2016-02-29,2016-02-29 08:08:08.999), (2017-10-31,2017-12-31 11:59:59.123), (2019-11-30,2019-08-31 00:00:00.000))

List((2014-02-28,2014-02-28 10:00:00.123), (2016-02-29,2016-02-29 08:08:08.999), (2017-10-31,2017-12-31 11:59:59.123), (2019-11-30,2019-08-31 00:00:00.000))

In [6]:
val datetimesDF = datetimes.toDF("date", "time")

datetimesDF = [date: string, time: string]

[date: string, time: string]

In [7]:
datetimesDF.show(false)

+----------+-----------------------+
|date      |time                   |
+----------+-----------------------+
|2014-02-28|2014-02-28 10:00:00.123|
|2016-02-29|2016-02-29 08:08:08.999|
|2017-10-31|2017-12-31 11:59:59.123|
|2019-11-30|2019-08-31 00:00:00.000|
+----------+-----------------------+

In [24]:
import org.apache.spark.sql.functions.trunc

In [26]:
import spark.implicits._

In [29]:
datetimesDF.
    withColumn("date_trunc", trunc($"date", "MM")).
    withColumn("year_trnc", trunc($"time", "yyyy")).
    show(false)

+----------+-----------------------+----------+----------+
|date      |time                   |date_trunc|year_trnc |
+----------+-----------------------+----------+----------+
|2014-02-28|2014-02-28 10:00:00.123|2014-02-01|2014-01-01|
|2016-02-29|2016-02-29 08:08:08.999|2016-02-01|2016-01-01|
|2017-10-31|2017-12-31 11:59:59.123|2017-10-01|2017-01-01|
|2019-11-30|2019-08-31 00:00:00.000|2019-11-01|2019-01-01|
+----------+-----------------------+----------+----------+

In [30]:
import org.apache.spark.sql.functions.date_trunc

In [34]:
datetimesDF.
    withColumn("date_dt", date_trunc("HOUR", $"date")).
    withColumn("time_dt", date_trunc("WEEK", $"time")).
    show(false)

+----------+-----------------------+-------------------+-------------------+
|date      |time                   |date_dt            |time_dt            |
+----------+-----------------------+-------------------+-------------------+
|2014-02-28|2014-02-28 10:00:00.123|2014-02-28 00:00:00|2014-02-24 00:00:00|
|2016-02-29|2016-02-29 08:08:08.999|2016-02-29 00:00:00|2016-02-29 00:00:00|
|2017-10-31|2017-12-31 11:59:59.123|2017-10-31 00:00:00|2017-12-25 00:00:00|
|2019-11-30|2019-08-31 00:00:00.000|2019-11-30 00:00:00|2019-08-26 00:00:00|
+----------+-----------------------+-------------------+-------------------+

## Date and Time - Extracting Information

Let us understand how to extract information from dates or timestamp

- We can use date_format to extract the required information in a desired format from date or timestamp
- There are also specific functions to extract year, month, day with in a week, a day with in a month, day with in a year etc.

## Tasks

In [37]:
import org.apache.spark.sql.functions.year

In [39]:
datetimesDF.
    withColumn("date_year", year($"date")).
    withColumn("time_year", year($"time")).
    show(false)

+----------+-----------------------+---------+---------+
|date      |time                   |date_year|time_year|
+----------+-----------------------+---------+---------+
|2014-02-28|2014-02-28 10:00:00.123|2014     |2014     |
|2016-02-29|2016-02-29 08:08:08.999|2016     |2016     |
|2017-10-31|2017-12-31 11:59:59.123|2017     |2017     |
|2019-11-30|2019-08-31 00:00:00.000|2019     |2019     |
+----------+-----------------------+---------+---------+

In [40]:
import org.apache.spark.sql.functions.month

In [42]:
datetimesDF.
    withColumn("date_time", month($"date")).
    withColumn("time_time", month($"time")).
    show(false)

+----------+-----------------------+---------+---------+
|date      |time                   |date_time|time_time|
+----------+-----------------------+---------+---------+
|2014-02-28|2014-02-28 10:00:00.123|2        |2        |
|2016-02-29|2016-02-29 08:08:08.999|2        |2        |
|2017-10-31|2017-12-31 11:59:59.123|10       |12       |
|2019-11-30|2019-08-31 00:00:00.000|11       |8        |
+----------+-----------------------+---------+---------+

In [43]:
import org.apache.spark.sql.functions.date_format

In [45]:
datetimesDF.
    withColumn("date_ym", date_format($"date", "yyyyMM")).
    withColumn("time_tm", date_format($"time", "yyyyMM")).
    show(false)

+----------+-----------------------+-------+-------+
|date      |time                   |date_ym|time_tm|
+----------+-----------------------+-------+-------+
|2014-02-28|2014-02-28 10:00:00.123|201402 |201402 |
|2016-02-29|2016-02-29 08:08:08.999|201602 |201602 |
|2017-10-31|2017-12-31 11:59:59.123|201710 |201712 |
|2019-11-30|2019-08-31 00:00:00.000|201911 |201908 |
+----------+-----------------------+-------+-------+

In [46]:
val l = List("x")

l = List(x)

List(x)

In [47]:
val df = l.toDF("dummy")

df = [dummy: string]

[dummy: string]

In [17]:
import org.apache.spark.sql.functions.{dayofweek, current_date, dayofmonth, dayofyear}

In [49]:
df.select(dayofweek(current_date)).show

+-------------------------+
|dayofweek(current_date())|
+-------------------------+
|                        3|
+-------------------------+

In [18]:
datetimesDF.
    withColumn("date_dow", dayofweek($"date")).
    withColumn("time_dow", dayofweek($"time")).
    withColumn("date_dom", dayofmonth($"date")).
    withColumn("time_dom", dayofmonth($"time")).
    withColumn("date_doy", dayofyear($"date")).
    withColumn("time_doy", dayofyear($"time")).
    show(false)

+----------+-----------------------+--------+--------+--------+--------+--------+--------+
|date      |time                   |date_dow|time_dow|date_dom|time_dom|date_doy|time_doy|
+----------+-----------------------+--------+--------+--------+--------+--------+--------+
|2014-02-28|2014-02-28 10:00:00.123|6       |6       |28      |28      |59      |59      |
|2016-02-29|2016-02-29 08:08:08.999|2       |2       |29      |29      |60      |60      |
|2017-10-31|2017-12-31 11:59:59.123|3       |1       |31      |31      |304     |365     |
|2019-11-30|2019-08-31 00:00:00.000|7       |7       |30      |31      |334     |243     |
+----------+-----------------------+--------+--------+--------+--------+--------+--------+

- Get the information from time in yyyyMMddHHmmss format

In [20]:
import org.apache.spark.sql.functions.date_format

In [27]:
datetimesDF.
    withColumn("time_ts", date_format($"time", "yyyy MM dd HH mmss")).
show(false)

+----------+-----------------------+------------------+
|date      |time                   |time_ts           |
+----------+-----------------------+------------------+
|2014-02-28|2014-02-28 10:00:00.123|2014 02 28 10 0000|
|2016-02-29|2016-02-29 08:08:08.999|2016 02 29 08 0808|
|2017-10-31|2017-12-31 11:59:59.123|2017 12 31 11 5959|
|2019-11-30|2019-08-31 00:00:00.000|2019 08 31 00 0000|
+----------+-----------------------+------------------+

In [30]:
datetimesDF.
    withColumn("date_us", date_format($"date", "MM-dd-yyyy")).
    withColumn("date_f", date_format($"date", "dd-MMM-yyyy")).
show(false)

+----------+-----------------------+----------+-----------+
|date      |time                   |date_us   |date_f     |
+----------+-----------------------+----------+-----------+
|2014-02-28|2014-02-28 10:00:00.123|02-28-2014|28-Feb-2014|
|2016-02-29|2016-02-29 08:08:08.999|02-29-2016|29-Feb-2016|
|2017-10-31|2017-12-31 11:59:59.123|10-31-2017|31-Oct-2017|
|2019-11-30|2019-08-31 00:00:00.000|11-30-2019|30-Nov-2019|
+----------+-----------------------+----------+-----------+

## Dealing with UNIX Timestamp

- It is an integer and started from January 1st 1970 Midnight UTC.
- Beginning time is also known as epoch and is incremented by 1 every second.
- We can convert UNIX Timestamp to regular date ot timestamp to a UNIX timestamp value and vice a versa.
- We can use `unix_timestamp` to convert regular date ot timestamp to a UNIX timestamp value.
- For example:
 - `unix_timestamp(lit("2019-11-19 00:00:00"))`
- We can use `from_unixtime` to convert unix timestamp to regular date or timestamp.
- for example - 
 - `from_unixtime(lit(1574101800))`
- We can also pass format for both the format to both the functions.

## Tasks

In [9]:
val datetimes= List(("20140228", "2014-02-28", "2014-02-28 10:00:00.123"),
           ("20160229","2016-02-29", "2016-02-29 08:08:08.999"),
           ("20171031","2017-10-31", "2017-12-31 11:59:59.123"),
           ("20191130","2019-11-30", "2019-08-31 00:00:00.000")
          )

datetimes = List((20140228,2014-02-28,2014-02-28 10:00:00.123), (20160229,2016-02-29,2016-02-29 08:08:08.999), (20171031,2017-10-31,2017-12-31 11:59:59.123), (20191130,2019-11-30,2019-08-31 00:00:00.000))

List((20140228,2014-02-28,2014-02-28 10:00:00.123), (20160229,2016-02-29,2016-02-29 08:08:08.999), (20171031,2017-10-31,2017-12-31 11:59:59.123), (20191130,2019-11-30,2019-08-31 00:00:00.000))

In [11]:
val datetimesDF = datetimes.toDF("date_id","date", "time")

datetimesDF = [date_id: string, date: string ... 1 more field]

lastException: Throwable = null

[date_id: string, date: string ... 1 more field]

In [18]:
datetimesDF.show(false)

+--------+----------+-----------------------+
|date_id |date      |time                   |
+--------+----------+-----------------------+
|20140228|2014-02-28|2014-02-28 10:00:00.123|
|20160229|2016-02-29|2016-02-29 08:08:08.999|
|20171031|2017-10-31|2017-12-31 11:59:59.123|
|20191130|2019-11-30|2019-08-31 00:00:00.000|
+--------+----------+-----------------------+

In [16]:
import org.apache.spark.sql.functions.unix_timestamp

- Get unix timestamp for dateid, date and time

In [24]:
datetimesDF.
    withColumn("unix_time", unix_timestamp($"time")).
    withColumn("unix_dateid", unix_timestamp($"date_id", "yyyyMMdd")).
    withColumn("unix_date", unix_timestamp($"date", "yyyy-MM-dd")).
    show(false)

+--------+----------+-----------------------+----------+-----------+----------+
|date_id |date      |time                   |unix_time |unix_dateid|unix_date |
+--------+----------+-----------------------+----------+-----------+----------+
|20140228|2014-02-28|2014-02-28 10:00:00.123|1393599600|1393563600 |1393563600|
|20160229|2016-02-29|2016-02-29 08:08:08.999|1456751288|1456722000 |1456722000|
|20171031|2017-10-31|2017-12-31 11:59:59.123|1514739599|1509422400 |1509422400|
|20191130|2019-11-30|2019-08-31 00:00:00.000|1567224000|1575090000 |1575090000|
+--------+----------+-----------------------+----------+-----------+----------+

In [25]:
val unixTimes = List(1393563600,
                     1456722000,
                     1509422400,
                     1575090000
)

unixTimes = List(1393563600, 1456722000, 1509422400, 1575090000)

List(1393563600, 1456722000, 1509422400, 1575090000)

In [28]:
val unxitimesDF = unixTimes.toDF("unixtime")

unxitimesDF = [unixtime: int]

[unixtime: int]

In [29]:
unxitimesDF.show

+----------+
|  unixtime|
+----------+
|1393563600|
|1456722000|
|1509422400|
|1575090000|
+----------+

In [31]:
import org.apache.spark.sql.functions.from_unixtime

In [34]:
unxitimesDF.
    withColumn("time", from_unixtime($"unixtime", "yyyy-MM-dd")).
withColumn("time", from_unixtime($"unixtime")).
    show(false)

+----------+-------------------+
|unixtime  |time               |
+----------+-------------------+
|1393563600|2014-02-28 00:00:00|
|1456722000|2016-02-29 00:00:00|
|1509422400|2017-10-31 00:00:00|
|1575090000|2019-11-30 00:00:00|
+----------+-------------------+